
.content {
    padding:0.25rem;
    box-sizing: border-box;
}

.content-middle {
    border-left: 1pt black solid;
    border-right: 1pt black solid;
    padding: 0.25rem;
}

input.input-row {
    border:none;
    border-bottom: 1pt black solid;
    width:auto;
    flex-grow:0;
    flex-shrink: 1;
}

.spells {
    flex-grow: 1;
    flex-shrink: 1;
    width: 70%;
}

.equipment-input {
    width: 100%;
    resize: none;
    border-width: 1pt;
    border-color: black;
    border-top: none;
}

.spell-list {
    border: 1pt black solid;
    padding-bottom: 0.15rem;
}